*{
    margin: 0;
    padding:0;
}
body{
    background:linear-gradient(rgba(166, 144, 144, 0.23),rgb(0, 255, 47)) ;
    height: 100vh;
}
section{
    background:url("cc.jpg");
    height:100vh;
    display:flex;
    justify-content:center ;
    align-items: center;
}
ul{
    text-align: center;
}
ul li{
    list-style: none;
    margin: 30px 0;
}


ul li a{
    color: rgb(112, 3, 110);
    text-decoration: none;
    font-size:20px;
    font-weight: 500;
    letter-spacing: 4px;
    background:rgb(132, 98, 205);
    padding: 5px 15px;
    border-radius: 10px 0px 10px 0px;
    display: inline-block;
    font-weight: bold;
    transition: 1s;  
}
ul:hover li a{
opacity: 0;

}
ul li a:hover{
    transform: scale(2);
    background: rgb(55, 12, 226);
    opacity: 1;
}




